<h1>Dashboard</h1>
<h2 style="margin-bottom: -24px">Pizza items on our menu</h2>
<hr />
<table id="menuItemsListTable">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Currency</th>
        <th>Action</th>
    </tr>
    <tr id="noMenuItemsMessage">
        <td colspan="5">There are no menu items</td>
    </tr>
</table>
<hr />

<h2 style="margin-top: 72px; margin-bottom: -24px">Pizza items in your shopping cart</h2>
<hr />
<table id="shoppingCartListTable">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Currency</th>
        <th>Action</th>
    </tr>
    <tr id="noShoppingCartItemsMessage">
        <td colspan="5">You have no items in your shopping cart. Please add</td>
    </tr>
</table>
<hr />

<div id="createOrderCTA" class="ctaWrapper">
    <a class="cta green" href="order/create">Place your order</a>
</div>
